* {
    background-color: rgb(36, 36, 36);
    color: rgb(250, 235, 217);
    text-align: center;
}

h1 {
    font-size: 300%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(99, 65, 6);
}

h2 {
    font-size: 300%;
    font-weight: bolder;
}

p, strong {
    font-size: 120%;
    color: rgb(186, 255, 239);
}

div {
    background-color: rgb(0, 0, 0);
    box-sizing: border-box;
    
}